<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="/main"
    [active]="activeLink.startsWith('/main')"
  >
    Main
  </a>
  <a
    mat-tab-link
    routerLink="/products"
    [active]="activeLink.startsWith('/products')"
  >
    Products
  </a>
  <span class="ngos-toolbar-spacer"></span>
  <a
    mat-tab-link
    routerLink="/orders"
    [active]="activeLink.startsWith('/orders')"
  >
    My Orders
  </a>
  <a
    mat-tab-link
    routerLink="/cart"
    [active]="activeLink.startsWith('/cart')"
  >
    <mat-icon>shopping_cart</mat-icon>
    <span
      [matBadgeHidden]="itemsInCart === 0"
      [matBadge]="itemsInCart"
      matBadgeOverlap="false"
    >
      Shopping cart
    </span>
  </a>
</nav>
