<ng-container *ngIf="order">
  <table mat-table [dataSource]="order.items" *ngIf="order.items.length">
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>Order ID:&nbsp;{{order.id}}</th>
    </ng-container>
    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef>Order date:&nbsp;{{order.date | date:'yyyy-MM-dd'}}</th>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef>Order status:&nbsp;{{order.status | orderStatus}}</th>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <!--suppress TypeScriptUnresolvedVariable -->
      <td mat-cell *matCellDef="let lineItem" [routerLink]="['/products', lineItem.productId]">
        <!--suppress TypeScriptUnresolvedVariable -->
        <a [routerLink]="['/products', lineItem.productId]">
          <!--suppress TypeScriptUnresolvedVariable -->
          <img with="75" height="75" [src]="'assets/product_pics/' + lineItem.productId + '.jpeg'"
               alt="{{'product ' + lineItem.productId + ' image'}}"/>
        </a>
        &nbsp;
        <!--suppress TypeScriptUnresolvedVariable -->
        <a [routerLink]="['/products', lineItem.productId]">
          {{lineItem.productName}}
        </a>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        Order total:&nbsp;<b>{{orderTotal() | currency:'EUR'}}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <!--suppress TypeScriptUnresolvedVariable -->
      <td mat-cell *matCellDef="let lineItem">
        {{lineItem.quantity}}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Unit Price</th>
      <!--suppress TypeScriptUnresolvedVariable -->
      <td mat-cell *matCellDef="let lineItem">
        {{lineItem.unitPrice | currency:'EUR'}}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-button routerLink="/orders">
          <mat-icon>arrow_back</mat-icon>
          All orders
        </button>
        <button mat-raised-button color="warn" (click)="cancelOrder()">
          <mat-icon>delete</mat-icon>
          Cancel order
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['orderId', 'orderDate', 'orderStatus']"
        class="ngos-order-details-header-row"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let lineItem; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</ng-container>

<ng-template #reallyCancelModal let-data>
  <h3>Are you sure you want to cancel this order?</h3>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" color="primary">
      No
    </button>
    <button mat-button [mat-dialog-close]="true" color="warn">
      Yes
    </button>
  </mat-dialog-actions>
</ng-template>
